

// Colors schemes
$ghost-white: #F8F8F8;
$isabelline: #EEEEEE;

$eerie-black: #171717;
$charcoal: #314452;
$arsenic: #374047;

$brandeis-blue: #0062FF;
$palatinate-blue: #3734D7;
$ultramarine-blue: #0062FF;
